.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignoring school data
*.jpeg
*.png
*.pdf
*.csv
*.xls
*.xlsx


# except example data
!sample.effort.csv
!sample.student.report.pdf
!sample.teacher.report.pdf

